.notify{
  position:absolute;
  top:0px;
  width:100%;
  height:0;
  box-sizing:border-box;
  text-align:center;
  overflow:hidden;
  box-sizing:border-box;
  transition:height .2s;
  z-index:99;
  border-bottom: 1px solid #FFFFFF;
}

#notifyType:before{
  display:block;
  margin-top:15px;

}

.active{
  height:50px;
}

.success:before{
    Content: attr(data-text);
}

.failure:before{
    Content: attr(data-text);
}